@layer reset, base, components;

@import url('normalize.css') layer(reset);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap') layer(base);

@layer reset {
    :root {
        --primary: #07755D;
        --secondary: #59bc1c;
        --denied: #ff8686;
        --text: #515959;
        --border: #59de0c;
        --white: #ffffff;
    }
    .main {
        display: flow-root;
    }
}

@layer base {
    html {
        font-family: 'Inter', sans-serif;
        color: var(--text);
    }
    ul {
        margin: 0;
    }
    li {
        padding: 0.4em;
    }
    p {
        margin: 0;
    }
    .card {
        max-width: 21em;
        margin: 1rem; /* without scaling */
        padding: 1em;
    }
    .card--marketer {
        border: var(--border) solid 1px;
        border-radius: 12px;
    }
    .card--executive {
        background-color: #844df3;
        color: var(--white);
        border-radius: 12px;
    }
    .card--marketer .card__header{
        margin-top: 1em;
    }
    .card--marketer .card__main {
        margin-top: 2em;
    }
    .card--marketer .card__footer {
        margin-top: 2em;
        margin-bottom: 1em;
    }
    .card--executive .card__header {
        text-align: center;
        margin-top: 2em;
    }
    .card--executive .card__main {
        text-align: center;
        margin-top: 2em;
    }
    .card--executive .card__footer {
        margin-top: 2em;
    }
}

@layer components {
    .button {
        background-color: var(--primary);
        text-decoration: none;
        color: var(--white);
        font-weight: bold;
        padding: 1em;
        border-radius: 6px;
        display: block;
        text-align: center;
        margin-top: 2em;
        margin-bottom: 2em;
    }
    .card--marketer .card--title {
        color: var(--secondary);
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 0.5em;
    }
    .card--marketer .card--list {
        padding-left: 1.5em;
    }
    .card--marketer .card--strong {
        color: var(--primary);
    }
    .li--check {
        list-style-image: url(../images/check.svg);
    }
    .li--cross {
        list-style-image: url(../images/cross.svg);
    }
    .card--executive .card--title {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 0.5em;
    }
    .card--executive .card--list {
        list-style: none;
        padding-left: 0;
    }
    .card--executive .button {
        background-color: var(--white);
        color: #9045bb
    }
    .pricebox {
        background-color:#8f5df2;
        border-radius: 12px;
        padding: 2.5em;
    }
    .card--executive li {
        padding-bottom: 1em;
    }
}